<ion-view view-title="carrusel" align-title="left">
    <ion-content scroll="false">
        <ion-slide-box style='height: 100%' auto-play="true" does-continue="false">
            <ion-slide style="background: url('img/informativa-app1.jpg'); background-size: cover; background-repeat: no-repeat">
                <img src="img/pasefit_logo.png" style="margin: 5% 24%; width: 30vh">
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 10vh; margin-top: 20vh; font-size: 6vh; font-style: italic">
                    ¡BIENVENIDO A LA NUEVA MANERA DE VIVIR A TRAVES DEL DEPORTE!
                </h1>
            </ion-slide>
            <ion-slide style="background: url('img/informativa-app2.jpg'); background-size: cover; background-repeat: no-repeat">
                <img src="img/pasefit_logo.png" style="margin: 5% 24%; width: 30vh">
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 10vh; margin-top: 20vh; font-size: 5vh; font-style: italic">
                    ¡ELIGE TU MOVIDA!
                </h1>
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 7vh; margin-top: 3vh; font-size: 4vh; font-style: italic">
                    ENCUENTRA Y RESERVA <br>MILES DE CLASES CON <br> UN SOLO PASE
                </h1>
                
            </ion-slide>
            <ion-slide style="background: url('img/informativa-app3.jpg'); background-size: cover; background-repeat: no-repeat">
                <img src="img/pasefit_logo.png" style="margin: 5% 24%; width: 30vh">
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 10vh; margin-top: 16vh; font-size: 5vh; font-style: italic">
                    ¡NUNCA TENDRAS <br> QUE DETENERTE!
                </h1>
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 8vh; margin-top: 3vh; font-size: 4vh; font-style: italic">
                    CUANDO SEA<br>COMO SEA<br>DONDE SEA
                </h1>
                
            </ion-slide>
            <ion-slide style="background: url('img/informativa-app4.jpg'); background-size: cover; background-repeat: no-repeat">
                <img src="img/pasefit_logo.png" style="margin: 5% 24%; width: 30vh">
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 8vh; margin-top: 16vh; font-size: 5vh; font-style: italic">
                    PORQUE EL CAMBIO<br>EMPIEZA CONTIGO.<br>¡PRUEBA ALGO NUEVO!
                </h1>
                <h1 class="blanco usuarioPerfl text-center" 
                    style="line-height: 8vh; margin-top: 0vh; font-size: 4vh; font-style: italic">
                    PLANES FLEXIBLES<br>SIN ATADURAS
                </h1>
                
            </ion-slide>

        </ion-slide-box>
        <div class="row" style="position: absolute; bottom: 10%">
            <div class="col col-offset-33 center sin-bordes ">     
                <div class="padding-top"></div>
                <button style="width: 16em;margin-right: auto;margin-left: auto;display: block;" class="boton-ingresar fuente button botonRojo  button-block blanco" ui-sref="app.access.login">
                   DA EL PASO
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>