/*estilos.css*/
/*FUENTES*/

@font-face {
    font-family: geogrotesqueMd;
    src: url("../fonts/geogrotesquemd.otf");
}

@font-face {
    font-family:geogrotesqueBold;
    src: url('../fonts/geogrotesquebold.otf');
}
@font-face {
    font-family:fontAwesome;
    src: url('../fonts/FontAwesome.otf');
}
@font-face {
    font-family: geogrotesSBMI;
    src: url('../fonts/GEOGROTESQUESTENCILB-MDIT.OTF');
}
@font-face{
    font-family: geogotesSBDB;
    src: url('../fonts/GEOGROTESQUESTENCILB-DEMBD.OTF');
}
@font-face{
    font-family: greotesMD;
    src:url('../fonts/GEOGROTESQUE-MEDIUM.OTF');
}
@font-face{
    font-family: greotesRG;
    src:url('../fonts/GeogrotesqueR.otf');
}
@font-face{
    font-family: greotesBOLD;
    src: url('../fonts/GEOGROTESQUESTENCILB-BOLD.OTF');
}
@font-face{
    font-family: greotesqueSemiBold;
    src: url('../fonts/GeogrotesqueSemiBold.otf');
}
@font-face{
    font-family: greotesqueLight;
    src: url('../fonts/GEOGROTESQUE-LIGHT.OTF');
}
@font-face{
    font-family: greotesqueSBM;
    src: url('../fonts/GEOGROTESQUESTENCILB-MEDIUM.OTF');
}

.perfil{
    z-index: 1 !important;
    position: relative;
    float: right;
    top: -4em;
    left: -2em;
}
/*Cambio de  tamaño de letras en el perfil*/
.perfil >.item > h2, .perfil > .item > p {
    font-size: 0.8em !important;
}
.item.item-divider.exitosa {
    background: #28a54c !important;
}

.item.item-divider.fallida {
    background: #e42112 !important;
}

.item.item-divider.notfound {
    background: #e6b500 !important;
}
.botonPerfil.button.button-small {
    position: relative;
    float: right;
    top: -4em;
}

.facebook{
    background:#3b5998 !important;
    color: white !important;
    font-family: geogrotesqueMd;
}

.fuente{
    font-family: geogrotesqueMd !important;
}
.fuente2{
    font-family:geogrotesqueBold !important;

}
.font-light{
    font-family: greotesqueLight;
}
.font-regular{
    font-family: greotesRG !important;
}
.font-medium{
    font-family: geogrotesqueMd;
}
.font-bold{
    font-family: geogrotesqueBold !important;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.boton-comun{
    width: 18em !important;
    margin-right: auto;
    margin-left:4em;
    display: block;
    padding-left: 1em !important;  

}
.centrar{
    text-align: center;
}
.izquierda{
    text-align: left;
}
.derecha{
    text-align: right;
}
.msj{
    font-size: .8em;
    color: white !important;
}
.sin-bordes > .item{
    border-style: none !important;
}
.sin-bordes input{
    /*margin-left: 1em !important;*/

}
.sin-bordes2 > .item{
    border-style: none !important;
}
/*CENTRAR IMG*/

.images-parent{
    text-align: center;
}

.left-image{
    float:left;
    max-width: 80px !important;
    max-height: 80px !important;
}

.center-image{
    margin:0 auto;
    width: 40%; 
    height: 50%;
}
.selectFacebookNormal{
    display: inline;
}

.right-image{
    float:right;
    max-width: 80px !important;
    max-height: 80px !important;  
}
.item-md-label input {
    background: white;
    width: 90%;
    height: 10%;
    margin-top: -1.4em;
    color: black;
    font-family: geogrotesqueMd;

}
.item-md-label span {
    margin-top: -.9em;
    margin-left: 1em;
    font-family: arial;
    font-size: .9em;
    font-family: geogrotesqueMd;

}

#button-submit{

    height: 10% !important;
    background: #44D0A7;
    width: 90% !important;
    margin-left: 1em !important;
    color:black !important;
    background: #cccecf !important;


}
.boton-rosa{
    background: #FF2542 !important;
    font-family: geogrotesqueBold !important;
    color: white;
    width: 15.6em;
}
.boton-ingresar{
    margin-top: -.008em !important;
    background: #cccecf !important;
    color:black !important;
    border-radius: 0%;
}
.boton-flotante > .button{
    font-size: .8em;
    color:white !important;
}

.mensaje-respuesta{
    width: 16.3em !important;
    margin-left: 1em !important;
}
.botones-compartidos
{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.campo{
    margin-top: -2em;
}
.campo2{
    margin-top: -1.3em;
    margin-left: 1em !important;
}

.fondo{
    background: #4d4d4d !important;
}
.fondoPastel{
    background: #c3c5c6 !important;
}
/*MENU LEFT*/

.menuLeft{
    background: #4D4D4D;
    color: white;
}

.boton{
    width: 13em !important;
    font-size: .6em !important;
    padding: 0em;
}
.texto-corto{
}
.texto-largo{
    padding: 0 !important;
}
.mayus{
    text-transform: uppercase;
}

.locacion {
    position: relative !important;
    width: 100%;
}
.elementos{
    float: left !important; 
    display:inline-block !important;
    margin-right: -4.3px !important;
} 
/*li {
   display:inline-block;
   margin-left: -5px !important;
}*/
.titulo{
    margin-bottom: 1em;
    text-transform: uppercase;
    color: white !important;
    font-family: greotesqueSemiBold ;

    font-size: 1.5em;
    margin-bottom: 0em;
}

.boton{
    border-spacing: 4em !important;
    border-color: white !important;
    color: white !important;
    font-family: geogrotesqueMd;

}
.boton-activo{
    background: white !important;
    color:black !important;
}
.menuContenido{
    background: #808080 !important;
}
.boton-location{
    font-size: 1em !important;
    padding: 0 !important;
}

.horaPadre{
    position: relative !important;
}
.hora{
    float: left !important;
    color:white;
    font-family: geogrotesqueMd;
}
.ui-slider-horizontal {
    height: 8px;
    width: 12em;
    background: #D7D7D7;
    clear: both;
    margin: 8px 0;
    border-radius: 90px;
}
.ui-widget-header {
    border-radius: 90px;
}
.ui-slider {
    position: relative;
    text-align: left;
    width: 15em;
    margin-left: .5em;
}
.ui-slider-horizontal .ui-slider-range {
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    background-size: 100%;
    background: #4d4d4d;
    border-style: none !important;
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-size: 100%;

    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 2;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;

}
.ui-slider-horizontal .ui-slider-handle {
    top: -.2em;
    margin-left: -.6em;
    background: #FF2542;
    width: 1em !important;
    height: 1em !important;
}
.ui-slider a:focus {
    outline:none;
}

#time-range{
    margin-top: 1em !important;
}

/*SELECTS MENU LEFT*/
.select-box select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    font-family: geogrotesqueMd;

}

.select-box {
    margin-top: 1em;
    width: 15.6em;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: url('/img/flecha.png') no-repeat right white !important;
    background-size: 16% !important;
    border-style: none;
}


/*Buscador del listado*/
.contenidoBuscador{
    background:white;
}
.contenedorDias{
    /*position: relative-;*/
    /*top: 3em;*/
    /*left: 2em;*/
    background:#5d5d5d;
    margin-top: 37% !important;

}
.contenedorDiasEstudio{
    font-size: 1.3em;
    top: 3.3em;
    left: -.5em;
}
.contenedorCirculo{
    margin-bottom: -5.5em;
}
.scroll-studio{
    overflow-y: hidden;
    height: 78vh;
    width: 100%;
    position:relative;
    background: white;

    /*margin-top: 1em;*/
}
.scroll-studio .scroll{
    /*overflow-y: hidden;*/
    width: 105%;
    /*height: 40em;*/
    left: -1em;
    margin-right: -1em;
    z-index: 900;
    top: 3em;
    margin-bottom: -13em;
    margin-top: 0 !important;
    top: -7em;
    position: relative;
}
.ciculo-negocio{
    width: 2.5em !important;
    height: 2.5em !important;
    margin-left: 1em;
    margin-top: .3em;
    margin-left: auto !important;
    margin-right: auto;
    display: block;
}
.enDetalle{
    margin-left: 18em !important;
}
.dias{
    position: relative;
    text-transform: uppercase;
    font-family:geogotesSBDB;
    color: white;
    font-size: 1em;
}
.dia{
    float: left;
    /* margin-left: 1.4em; */
    width: 14%;
    text-align: center;
    display: inline;
}
.dia-actual{
    color: #44cfa6 !important;
}
.bar-stable.bar.bar-header{
    box-shadow: none !important; 
    background:#4d4d4d !important;
}
.boton-navicon{
    color: white !important;
    box-shadow: none !important;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 2em;
}
.boton-navicon:before{
    font-size: 40px !important;
}

/* INPUT*/
.buscador {
    color: white;
    background-color: #808080;
    margin-left: -2em ;
    margin-right: -2em;
    font-family:fontAwesome !important;    
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width:16em;
    font-size: .5em !important;
    margin-top: 2.5em;
}

.avatarProfile{
    position: relative;
}

.triangulo{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 17px;
    border-color: transparent transparent white transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: -123;

}
.triangulo-transparente{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 17px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    left: -.37em;
}

/* menu derecha*/

.linea{
    height:2px;
    border:none;
    color:#333;
    background-color:white;
    width:15.6em;
    position: relative;
    /*float: right;*/
    /*margin-top: 10em;*/
}
.linea2{
    height:2px;
    border:none;
    color:#333;
    background-color:gray;
    width:15.6em;
    position: relative;
}

.circulo-perfil {
    width: 5em;
    height: 5em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 1em;
}

.circulo-toggle {
    width: 2em;
    height: 2em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 1em;
    margin-top: 1em;
}

.listaDeBusqueda{
    position: relative;
}

.elementoBusqueda{
    float:left !important;
    margin-left: -.6em;
    margin-right: 1em;
}
.bar-stable.bar.bar-header{
    height: 8.5em !important;
}
/*DETALLE DE HORA*/
.compartir{
    position:relative;
    padding-left: 1.5em;
    padding-top: 1em;
    color:black !important;
    font-size: 1.2em;
}
.duracion{
    margin-bottom:.2em;
    padding-left: 5em;
    font-size: .9em;
    font-family: greotesRG !important;

}
.horaInicial{
    margin-top:2em;
    margin-bottom:.2em;
    /*padding-left: 3em;*/
    font-size: 1.5em;
    font-family: greotesRG !important;
    font-weight: bold;
    text-align: center;
}

/*DETALLE DE CLASE*/
.actividad{
    font-size: 1.6em;
    margin-top: 1em;
    text-transform: capitalize;
    font-family: greotesMD;
    text-transform: uppercase;
}
.estudio{
    text-transform: uppercase;
    font-size: 0.78em;
    font-family: greotesRG !important;

}
.lugar{
    text-transform: capitalize;
    font-family: greotesRG !important;
}
.reputacion{
    color:black;
}
.barra{
    border-bottom: black;
    border-bottom: 2em;
    border-bottom-width: 2em;
}
.elemento:hover{
    /*background: #CCCECF !important;*/
    color: red;
}
.scrollClass
{
    height: calc(100vh - 320px); 
    overflow-y: hidden;
}
.scrollPerfil
{
    height: calc(114vh - 420px); 
    overflow-y: hidden;

}
.botonesLocation{
    position: absolute;
    bottom: 5em;
    right: 1em;
}
.locationBoton{
    position: relative;
    background: #44CFA6;
    width: 3.5em;
    height: 3.5em;
    /*line-height: 2em;*/
    /*padding-left: .7em;*/
    color: white;
    /*margin-bottom: .4em*/
    text-align: center;
    line-height: 3.25;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;    
}

.botonesPerfil{
    font-family: geogrotesqueMd;
    width: 33.333333333%;
    height: 100%;
    float: left;
    line-height: 3.5em;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
    border-style: solid !important;
    border-bottom: 1px;
}
.botonesPerfil:hover{
    background: #CCCECF;
}
.botonesPerfil:active{
    background: #FF2542;
    color:white;
    border-color:#FF2542; 
}
.botonesPerfilActivo{
    background: #FF2542;
    color:white;
    border-color:#FF2542; 
}
.botonesPerfilSelect{
    background:  #FF2542;
    color:white;
    border-color:#FF2542; 
}
.tituloPerfil{
    position: relative;
    top: 0;
    background: #c3c5c6;
    width: 70%;
    height: 3em;
    border-bottom-right-radius: 1.5em;
    text-transform: uppercase;
    font-family: geogrotesqueMd;
    color: white;
    line-height: 3em;
    text-align: right;
    padding-right: 1em;
    font-size: 1.1em;
    z-index: 1;
}
.tituloClass{
    position: absolute;
    bottom: 0em;
    text-transform: uppercase;
    color: white;
    font-family: geogrotesqueMd;
    margin-bottom: .5em;
    margin-left: .8em;
    font-size: 2.7em;
    line-height:1em;
}
.horario{
    position: relative !important;
    top: 190px !important;
    width: 16em !important;
    border-bottom-right-radius: 2em !important;
    margin-top: 1.5em !important;
    height:  3.3em;
    margin-left:-1em;
}
.horarioStudio{
    background: #44CDA4 !important;height: 5em !important;
}
/*.horario  div{
    position: relative;
    width: 3em;
}*/
.lista{
    position:absolute;
    right:0;
    left:0;
    margin-top: 5.6em;
}
.elemento{
    height:11em;
    background:white;
    border-bottom: 1px solid #44cfa6 !important;
    /*background-image: inherit;*/
}
.estudioelemento:hover{
    background: #56c09e !important;
    color:#4e4e4e !important;
}
.listaHorario{

}
.listaHorario  li{
    position: relative;
    float:left;
    color:white;
    font-family: geogrotesqueMd;
}
.horaClase{
    font-size: 2em;
    line-height: 1.5em;
    margin-left: 1em;
}
.fechaClase{
    line-height: 4em;
    margin-left: 1em;
    font-size: .8em;
}
.fechaExacta {
    font-family: geogrotesqueMd;
}
.contenedor80{
    position: relative;
    width: 80%;
    height: 100%;
}
.contenedor20{
    position: relative;
    width: 20%;
    background: white;
    height: 100%;
}
.icon-edit-photo{
    position: absolute;
    left: 55%;
    bottom: 1vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.52);
    padding: 10px;
    border-radius: 30px;
}
.iconoOpcion{
    margin-top: 1em;
    /*text-align: center;*/
    font-size: 1.3em !important;
}
.tituloOpcion{
    font-size: .9em !important;
}
.opcionClase{
    text-align: center;

}
.botonesClases{
    position: relative;
    top: 200px;
    color: white;
    text-transform: uppercase;
    font-family: geogrotesqueMd;
}
.desClase{
    position: relative;
    /*top:240px;*/
    padding: 1em;
    color: white;
    font-family: geogrotesqueMd;
}
.botonGrande{
    background: #CCCECF;
    text-align: center;
    color: #5D5D5D;
    font-family: geogrotesqueMd;

}
.botonGrande  .textoTitulo{
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
    background: #CCCECF;
    margin-left: .5em;
    height: 4em;
    font-size: .8em;
}
#botonesDetalleClase{
    height: 5em;
    padding:.5em;
}
.linea2{
    height:2px;
    border:none;
    color:#333;
    background-color:white;
    width:9em;
    position: relative;
    float: left;
}
.nombreStudio{
    font-family: geogrotesqueMd;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    line-height: 30px;
    /*margin-left: 1em;*/
}
.contenedorForm{
    height: 30em
}
.datosStudio{
    width: 100% !important;
    height: 20em;
}
.datosStudio > .lugar{
    color: white;
    font-family: geogrotesqueMd;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: 20px;
}
.datosStudio > .nombreStudio{
    margin-left: 20px;
}
.reputacion2{
    margin-top: 1em;
    margin-left: 20px;
}
.datosStudio > .reputacion2{
    color: white;
}
.horario > .listaHorario > .fechaClase{
    text-transform: uppercase;
}

.contenedor-scroll-datosStudio{
    height: 25em;
}

.sinResultado{
    width: 100%;
    height: 40em !important;
    background: white;
    position: absolute;
    top: 88px;
    margin-left: -1.1em;
    margin-right: -1em;
}

.sinResultado .mensaje{
    color:black;
    font-size: 2.5em;
    font-family:geogrotesqueBold;
    margin-left: 1.3em;
    top:6em;
    position: absolute;
}
.nombreInst{
    margin-left: .5em;
    color:white;
    font-family: geogrotesqueMd;
    text-transform: capitalize;
}
.nombreInst ul li{
    float: left;
    margin-left: .5em;
}
.negritas{
    /*font-weight: bold;*/
    float:left;
    font-family:geogrotesqueMd;
    font-size: 1.1em;
    margin-right: .5em;
}
.puntuacionStudio > ul
{
    /*position: relative;*/
    /*top :0;*/
    /*right: 0;*/
}
.tituloDetalle{
    margin-left: 1em;
    color:whitesmoke;
    font-size: .9em;
    text-transform: none;
    font-family: greotesRG !important;
    /*line-height: .5em;*/
    /*margin-bottom: .5em;*/
    line-height: 2em;
}
.detalleStudio{
    height: 100%;
}

.calificaciones{
    margin-left: 1em;
    text-decoration: underline;
    text-transform: capitalize;
}
.mensajeModal{
    background-color: #ee3348;
    width: 22em;
    height: 22em;
    padding:2em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 7em;
    text-align: center;
    color: whitesmoke;
}
.mensajeModal .tituloClase{
    font-family: greotesqueSemiBold;
    text-transform: uppercase;
    font-size:2em;  
    /*margin-bottom: 1em;*/

}
.mensajeModal .lineaModal{
    border-bottom-width: 0.1em;
    color: white;
    width: 12em;
    margin-bottom: 2em;
}
.mensajeModal .direccionEstudio{
    font-family: greotesqueLight;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 1em;
    margin-top: 1em;
}
.mensajeModal .fechaHora{
    text-transform: uppercase;
    font-family: greotesqueLight;
}
.loading-container .loading{
    /*background: none;*/
}

.mensajeModal .botonMensaje{
    /*margin-top: 1em;*/
    background: #c3c5c6;
    font-family: greotesqueSBM;
    text-transform: uppercase;
    color:#5D5D5D;
    height: 2em;
    font-size: 1.5em;
    line-height: 2em;
    text-transform: uppercase;
}
.mensajeModal .cerrar{ 
    text-transform: uppercase;
    font-size: 2em;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.2;
}

#boxMensaje{
    width: 18em !important;
    padding-left: 5em;
    font-family:'FontAwesome';
}

option{
    font-family:'FontAwesome';
}

.success{
    background: #56c09e !important;
}
.error{
    background:#c3c5c6!important;
}
.tituloError{
    color:#231f20 !important;
}

/*ESTILOS DE MODAL DEL PERFIL*/

.modalPerfil{
    /*height:20em;*/
}
.contenedorPerfil{
    background: #ff2542;
    width: 100%;
    position: relative;
    /*overflow: scroll;*/
    -webkit-overflow-scrolling: touch;
    height: 42em;
    /*font-size: .5em;*/
}
.contenedor-scroll-usuario{
    font-size: .9em;
}
.scroll-perfil{
    height: 40em;
}


.zonaClases{
    font-family:greotesqueLight;
    color:white;


}
.cerrarModal{
    font-size: 3em;
    color: white;
    position: relative;
    top: 0.2em;
    left: .6em;
    font-weight: bold;

}
.gear{
    font-size: 2.3em;
    position: relative;
    top: 0.3em;
    left: -.5em;
    color: white;
}
.headerAction{
    min-height: 10em;
    float: left;
    /*height:   10em;*/
}
.headerActions > .elementoHeader{
    float:left;
    margin-right: 1em;

}
#encabezado{
    background:#4D4D4D;width:100%;height:150px;z-index:1!important;position:relative;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.tituloEncabezado{
    margin-left: 0;
    left: 0 !important;
    position: absolute !important;
    line-height: 3em !important;
    margin-left: 1em !important;
}
.contenedorBotones{
    width:100%;height:50px;background:red;position:relative;z-index:1;
}
.listaPerfil{
    position:absolute;right:0;left:0;  margin-top: 170px;
}
.listaPerfil2{
    position:absolute;right:0;left:0;  margin-top: 180px;
}
.elemento2{
    height:12em;background: white;
    border-bottom: 1px solid #44cfa6 !important;
}
.elemento3{
    height: 3em;
    left: 0em;
    padding-left: 2em;
    background: #FFFFFF;
    font-family: geogrotesqueMd;
    text-transform: uppercase;
    font-size: 1.4em;
    padding-top: 1em;
    border-color:black;
}
.elemento4{
    height:11em;
    background:white;
    border-color:black;
}
.elemento4Verde{
    background: #00D1A1;
}
.elemento4Rojo{
    background: #FF002A;
}
.listaCompartir{
    position:relative;color:white;
}
.listaCompartir li{
    float:left;margin-left:1.2em;
}
.mensajeEncabezado{
    margin-left: 0;
    width: 3.5em;
    background: #c3c5c6;
    height: 3em;
    text-align: center;
    line-height: 3em !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}
.mensajeEncabezado:active{
    background: #4e4e4e;
    border-bottom-right-radius: 45%;
}
.mensajeEncabezado:focus{
    background: #4e4e4e;
    border-bottom-right-radius: 45%;
}
.mensajeEncabezado:hover{
    background: #4e4e4e;
    border-bottom-right-radius: 45%;
}
.tituloEncabezado{
    margin-left: 0 !important;
    width: 3.5em;
    background: #c3c5c6;
    height: 3em;
    text-align: center;
    line-height: 3em !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}
.tituloEncabezado:active{
    background: #4e4e4e;
    border-bottom-right-radius: 45%;
}
.tituloEncabezado:focus{
    background: #4e4e4e;
    border-bottom-right-radius: 45%;
}
.tituloEncabezado:hover{
    background: #4e4e4e;
    border-bottom-right-radius: 45%;
}
.reservada{
    width: 1.5em;
    height: 1.5em;
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}


/*Dashboard*/
.contenedorClaseDia{
    padding: 1em;
    margin-top: 1em;    
}
.actividadReservada {
    font-family:geogrotesSBMI;
    font-size: 1.5em;

}
.contenidoClase{
    padding:1.5em;
    font-size: .9em;
}
.nombreCliente{
    font-family: geogrotesqueMd;
    font-size: .5em;
    color:white;
    text-transform: uppercase;
    text-align: right;
}
#map.scroll {
    height:100%;
}

#map {
    width: 100%;
    height: 100%;
}
.opcionElemento
{
    width: 50%;
    background:white;
    float: left;
    text-align: center;
    height: 3em;
    padding-top: .8em;
    color:black;
    font-family: geogrotesqueMd;
    text-transform: uppercase;
}
.opcionElementoFijo{
    background-color:  #00D1A1 !important;
    color: white !important;
}
.contenedorOpcionesElemento{
    width: 100%;
    height: 3em;
}
.contenedorUsuario > li {
    float:left;
    margin-top: 3em;
}
.contenedorUsuario > li{
    margin-left: 2em;
}
.contenedorImg{
    margin-left: 3em !important;
}
.contenedorAcciones{
    margin-right: -1em !important;
}
.contenedorUsuario > li > .contenedorAcciones  li{
    /*float:left;*/
}

video { 

    min-width: 100%;
    min-height: 200%;
    width: auto;
    height: auto;

    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 

    z-index: -100;

    background-size: cover;
    /*background-image: url('https://www.youtube.com/embed/opQZtQvp9T8?iv_load_policy=3&showinfo=0&controls=0&color=white&autohide=1&version=3&loop=0&playlist=player_431_1472643834_1606253530&wmode=opaque&rel=0&hd=1&videoid=Wq-DEL2ONGg&autoplay=0&html5=1&enablejsapi=1&origin=http%3A%2F%2Fwww.kriesi.at&widgetid=1');*/

}
.contenedorDatos {
    margin-left: 2em;
    font-size: .8em;
}
.contenedorDatos > .nombreCompleto{
    font-family: geogrotesqueMd;
    font-size: 2em;
    text-transform: uppercase;
}
.mensajeSinResultado{
    /*margin-top: 2em;*/
    font-family: geogrotesqueMd;
    font-size:1.5em;
}

.contenedorAcciones{
    color: #CFCFCB;
}

.modalPerfilStudio{
    background: #44CDA4;
}
/*ELEMENTOS DE RESERVACIONES*/

.fondoSplash{
    position: fixed;
    height: 15em;
    background-size:100% auto;
    width: 100%;
    left: 0em;
    top: 0em;
    background-repeat: no-repeat; 
}
.nombreStudioPerfil{
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.contenedor-scroll{
    height: 700px;
}
/*.contenedor-scroll-usuario{
  height: 800px;
}
*/
.contenidoDetalle{
    top: 15em;
    height: 25em;
    padding:1em;
}
.opcion
{
    position: relative;
    text-transform: capitalize;  
}
.puntuacion{
    /*float: right !important;*/
    /*margin-left: 10em;*/
    margin-left: 2em;
    font-size: .8em;
}
.horarioServicio{
    width: 17em !important;
    background: none !important;
    height: 2em;
    line-height: 2em;
    margin-left: 2.5em;
    font-size: .9em !important;
    color: white;
    text-transform: uppercase;
}
.scrollContenidoStudio
{
    height: 42vh;
}
.posicionamiento{

}
.posicion{
    color:white;
    font-size: 3em;
    font-family:geogrotesqueBold; 
    text-transform:capitalize; 
    position: fixed;
    margin-top: .5em;
}

.degradado{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+20,1d1a1e+86 */
    background: #999999; /* Old browsers */
    background: -moz-linear-gradient(top,  #999999 20%, #1d1a1e 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #999999 20%,#1d1a1e 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #999999 20%,#1d1a1e 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#1d1a1e',GradientType=0 ); /* IE6-9 */

}
.opacity{
    background: #000000;
    background: -moz-linear-gradient(top,  #000000 0%, #000000 100%);
    background: -webkit-linear-gradient(top,  #000000 0%,#000000 100%);
    background: linear-gradient(to bottom,  #000000 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    height: 11em;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.7;
}
.primero{
    margin-top: 7em;
}
.contenedorScroll{
    height: 40em;
}
#mapaContainer
{
    height: 35em;
    right: 0 !important;
    left: 0 !important;
    background: #E9E5DC;
    position: absolute;
    top: 6.9em;
}

.contenedorScrollInstructor{
    color:white !important;
}
.insctructores{
    margin-top: 10em;
    /*background: blue;*/

}
.itemInstructor{
    background: #CCCECF;
    margin-bottom: .5em;
    min-height: 66px !important;
}
.itemInstructor > .contenedorNombreInstru{
    color: #4D4D4D;
    font-family: geogrotesqueMd;
    font-weight: bold;
}
.itemInstructor > .categoriasInstru{
    color: #4D4D4D;
    font-family: geogrotesqueMd;
}

.flechaVolver{
    height: 4em;
    line-height: 4.3em;
    text-align: center;
    color: black;
    background: white;
    text-transform: uppercase;
    font-family: geogrotesqueMd;
}

.gradientImagen{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+47,000000+100&0+25,0.65+62 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 25%, rgba(0,0,0,0.39) 47%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.39) 47%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.39) 47%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    /*position: relative;*/
    width: 100%;
    position: fixed;
    top:0;
    height: 150px;
}
.gradientImagenStudio{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+47,000000+100&0+25,0.65+62 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 25%, rgba(0,0,0,0.39) 47%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.39) 47%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.39) 47%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    /*position: relative;*/
    width: 100%;
    position: fixed;
    top:0;
    height: 15em;
}
.contenedorListaStudio{
    position: fixed;
    background: #CCCECF !important;
    width: 50%;
    color: black !important;
    z-index: 1000;
}
.contenedorListaStudio:hover{
    /*color:black !important;*/
}
.elementoListaStudio{
    padding: .8em;
    font-size: .6em;
}
.elementoListaStudio > .nombreDelStudio{
    font-family:geogrotesqueBold;
}
.elementoListaStudio:hover{
    background: white;
}
.elementoListaStudio > .nombreDelStudio{
    font-size: 1.5em;
}
.elementoListaStudio > div{
    font-family: geogrotesqueMd;
}

.popoverStudio{
    background: #ee3348 !important;
    color: white;
    height: 14em;
    text-align: center;
    left: initial !important;
    right: 18% !important;
    top: 40% !important;
}
.popoverStudio  div{
    margin-top: 1em;
}
.popoverStudioNombre{
    font-family:geogrotesqueBold;
    font-size: 2em;
    text-transform: uppercase;
}
.popoverHorario{
    text-transform: uppercase;
    font-family:geogrotesqueBold;
}
.popoverDisciplina{
    text-transform: uppercase;
    font-family:geogrotesqueBold;
}
.contenedorClf{
    position: relative;
    top: 14em;
}
.sinCalifi{
    position: relative;
    background: white;
    color: black;
    height: 10em;
    text-align: center;
    font-size: 2em;
    padding-top: 4em;
    text-transform: uppercase;
    font-family:geogrotesqueBold;
}
.clf{
    width: 100%;
    height: 14em;
    background: white;
    padding:1em;
    margin-bottom: 1em;
}
.tituloClf{
    color:black;
    font-size: 1em;
    font-family:geogrotesqueBold;
    text-transform: capitalize;
}
.comentarioClf{
    font-size: .9em;
    padding: .3em;
    text-transform: capitalize;

}
.inputEditarClase{
    border:black;
    height: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.inputEditarClase > .input-label{
    color: #56c09e;
    font-size: .6em;

}
.inputEditarClase > .highlight{
    background: #56c09e;
}
.contenedorInputEdit {
    margin-bottom: .5em;
}
.contenedorInputEdit .tituloSelect
{
    position: relative;
    color: #56c09e;
    margin-left: 20%;
    text-align: left;
}
.selectEdit{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    /*margin-top: 2em;*/
}
.cajaComentario{
    margin-top: 1em;
    margin-bottom: .5em;
}
.cajaComentario textarea{
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
}
.cajaComentario textarea::-webkit-input-placeholder {
   padding: .5em;
   font-size: 1em;
}

.cajaComentario textarea:-moz-placeholder { /* Firefox 18- */
   padding: .5em;
   font-size: 1em;  
}

.cajaComentario textarea::-moz-placeholder {  /* Firefox 19+ */
   padding: .5em;
   font-size: 1em;  
}

:-ms-input-placeholder {  
   color: red;  
}
.estrellaClaf{
    padding-right: .3em;
    padding-left: .3em;
}
.config{
    top: 0;
    position: absolute;
    right: 0;
    padding: .4em;
    float: right;
    font-size: 2.4em !important;
    color: white;
}
.multiselectComodidades{
    background: white;
    width: 66%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}
.multiselectComodidades .list div{
    display: inline;
    margin-right: .4em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.multiSelec-menu .list div{
    display: inline;
    margin-right: .4em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.contenedorDatosUser{
    height: 60em;padding-left: 5%;padding-right: 5%;padding-top: 5%;
    background: white;
}
#perfilUsuario{
    height: 30em;background: white;left: 0 !important;right: 0 !important;position: absolute;
}
.datoTitulo{
    /*margin-top: 10%;*/
    font-family:geogrotesqueBold;
}
.campoUsu{
    /*font-weight: bold;*/
    font-family: greotesMD !important;
    margin-left: 5%;

}
.contenedorRadios{
    text-align: center;
}
.contenedor-scroll-studio{
    height: 40em;
    position: relative;
    margin-top: 12em;
}
.palabra{
    font-family: geogrotesSBMI;
    color: white;
    position: absolute;
    font-size: 3.4em;
    top: 1.4em;
    z-index: -123123123;
    opacity: .3;
    text-transform: uppercase;
    line-height: .7;
}
#palabraClases{
    line-height: 1.4 !important;
    font-size: 55px;
}
#clases{
    letter-spacing: 22px;
    margin-left: .1em;
}
.usuarioPerfl{
    font-family:greotesBOLD ;
}
.direccion,.instructor,.horarioClase{
    font-family: greotesRG !important;
}
.tituloReservar{
    font-family: greotesBOLD;
    font-size: 1.5em;
    text-transform: uppercase;
}
.gris{
    background: #c3c5c6 !important;
    color: black;
}
.gris .lineaModal{
    /*background: #ee3348;*/
    border-bottom-color:#ee3348;
    border-bottom-width: .2em; 
}
.gris .titulo{
    color: black;
}
#editPerfil{
    height: 50em;
}
.contenedorDatosUser{
    height: 25em;
}
.puntuacionStudio{
    position: absolute !important;
    padding: 1em;
    top: 0;
    right: 0;
}
.tituloMisClases{
    z-index: 3 !important;
    font-size: 4em;
}
.errorDetalle{
    font-size: 0.7em;
    color: black;
    font-family: greotesBOLD;
    text-transform: uppercase;
}
.errorLinea{
    background: #ee3348 !important;
}
.nombreEstudio{
    font-family: greotesqueLight;
    color:#4e4e4e;
    text-transform: uppercase;
}
.tituloCalificarClase{
    font-size: 1.5em !important;
    margin-top: 0em !important;
}
.preguntaCalificar
{
    font-family: greotesqueLight !important;
    line-height: 1em;
    font-weight: bold;
    width: 11em;
    font-size: 1.7em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1em;
}
.botonRojo
{
    background: #ee2f48 !important;
}
.botonCalificar
{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    height: 1.5em !important;
    line-height: 1.5em !important;
    font-size: 1.3em !important;
}
.mensajeCancelada{
    color: #4e4e4e;
    text-transform: uppercase;
    font-family: greotesqueLight;
    line-height: 3;
    font-size: .8em !important;
    margin-bottom: 2em;
    margin-top: 1em;
}
.scrollInstruc{
    height: 70vh;
}
.scrollListaDetalle{
    height: 70vh;
}
.blanco{
    color: white !important;
}
.negro{
    color:black !important;
}
.categoriaPreferencias{
    font-size: 0.7em;width: 250%;
    font-family: greotesqueLight;
}
.circulo-clase{
    width:2.7em;
    height: 2.6em;
}
.cali-detalleClase{
    color:white;padding: 0 !important;font-size: .8em;line-height: 4.3;
}

.multiSelec-menu  ng-include > ion-list > .list {
    line-height: 0;
    min-height: 20px;
    height: 35px;
    width: 97%;
    font-family: geogrotesqueMd;
    font-weight: bold;
    background: url(/img/flecha.png) no-repeat right white !important;
    background-size: 17% !important;
}
.botonModal{
    position: absolute !important;
    top: -1px !important;
    right: 0px !important;
    bottom: 5px !important;
}
.cancelarReserva{
    position: relative;
    float: right;
    font-size: 1.5em;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 8.8em !important;
    margin-bottom: 0em !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px !important;
    height: 8.8em !important;
}
.horaStudio{
    font-size: 1.4em;
    line-height: 1.9em;
    margin-left: 1em;
    display: inline;
    margin-right: .4em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.scrollMultiSelect .list{
    height: 100vh !important;
}
.texAreaCalf{
    height: 4em;
    width: 15em;
}
.multiselectPreferencia .list{
    background:white;
    line-height: 0;
    min-height: 20px;
    height: 35px;
    width: 60%;
    font-family: geogrotesqueMd;
/*    background: url(/img/flecha.png) no-repeat right white !important;
    background-size: 21% !important;*/
    margin-left: auto;
    margin-right: auto;
}
.contenedorDiasStudio{
    height: 3.5em;
    line-height: 3.5em;
    font-size: 1.5em;
}
.contenedorDatosStudio{
    margin-left: 1em;
    color: white !important;
}
.rojo{
    background: #FF2542 !important;
}
.verde{
    background: #44CDA4 !important;
}

.scrolleditStudio{
    width: 100%;
    height: calc(55vh - 5em);
}
.contenedor-crear-clase{
    position: relative;
    width: 100%;
}
.scroll-crear-clase{
    height: 70vh;
    width: 100%;
}
.icono-calendar{
    font-size: 2.5em;
    color:black;
    margin-right: .5em;
}
.input-texto > input{
    width: 100% !important;
}
.contenedor-picker  input{
    width: 100% !important;
}
.multiCreateClass ng-include > ion-list > .list {
    width: 100% !important;
}
.selectCreateClass{
    width: 100% !important;
}
.contenedor-crear-clase{
    padding: 1em;
}
.contenedor-crear-clase .titulo{
    font-size: 1.2em !important;
}
.contenedor-crear-clase .select-box > select{
    width: 100% !important;
}
.weekStudio .contenedorDiasStudio{
    height: 0 !important;
    line-height: 3em;
    top: 2em;
    position: relative;
}