/*mobile425px.css*/
.headerActions > .elementoHeader {
    float: left;
    /*margin-right: 2em;*/
}
.buscador{
	width: 26em;
}
.contenedorDias
{
	font-size: 1.3em;
	line-height: 0.7;
    
}
.boton-comun
{
	margin-left: 6em !important;
}
.contenedorDiasEstudio {
    font-size: 1.79em;
    top: 3.1em;
    left: -.5em;
    line-height: 0;
}
.contenedorCirculo {
    margin-right: 1em;
}
.palabra{
    letter-spacing: .2em;
}
#clases{
    letter-spacing: .67em;
}
#encabezado{
  height:250px;
}
.has-foto-header{
   margin-top: 18em;
}
.gradientImagen {
    height: 250px;
}
.scrollClass {
    height: calc(100vh - 425px);
    /* overflow-y: hidden; */
}
.scrollClassEstudio {
    height: calc(105vh - 425px);
    /* overflow-y: hidden; */
}
.triangulo
{
    border-width: 0 21px 21px 21px !important; 
}
.contenedorDias{
    margin-top: 5em !important;
}
.palabra{
    line-height: 1.3;
}