/*mobileHeight640px.css*/
.contenedorPerfil{
	height: 60em !important;
	/*font-size: 1.3em;*/
}
.titulo{
	margin-bottom: 1em;
}
.datosStudio{
	height: 40em;
}
.contenedorForm{
	height: 60em;

}
.scroll-studio{
	height: 43em;
}
.tituloDetalle{
	font-size: 1.3em;
}
.nombreCliente{
	/*font-size: 1em;*/
}
.calificaciones{
	font-size: 1.5em;
}
.tituloPerfil{
	font-size: 1.3em;
}
.opciones {
	font-size: 1.5em;
}
.horario{
	width: 20em !important;
	height: 7em !important;
	padding: 1em;
}
.opciones{
	font-size: 1.3em;
	line-height: 1.4em;
}
.scrollContenidoStudio {
    height: 27em;
}

.listaHorario .nombreStudio{
	font-size: 2em;
	margin-left: 1em;
}
/*.listaHorario .horarioServicio{
	font-size: 1em !important;
	line-height: 0em;
}*/
/*.puntuacionStudio{
	    position: absolute !important;
    padding: 1em;
    top: 0;
    right: 0;
}*/
.datosStudio
{
	height: 40em !important;
}
#detalleClase{
	height: 4em !important;
}