.barra{
	width: 15em !important;
}
.padding{
	padding: 0 !important;
}
.padding-top{
	padding-top: 3px !important;
}
.contenedorPerfil .titulo{
	font-size: 1.3em;
}
.zonaClases{
	font-size: .9em;
}
.contendedorPerfil .linea{
	height: 1px !important;
	width: 13.6em !important;
}
.contenedor-scroll-studio{
	margin-top: 8em;
}
.gradientImagen{
	height: 10em;
}
.fondoSplash{
	height: 10em;
}