/*mobile414px.css*/
.boton-comun
{
    margin-left: 5.4em !important;
}
.contenedorPerfil{
	height: 60em !important;
}
.contenedorPerfil .titulo{
	font-size: 2em;
}
.contenedorPerfil .linea{
	width: 19.6em;
}
.contenedorPerfil .zonaClases
{
    font-size: 1.5em;
}
.botonesLocation {
    font-size: 1.5em;
}
.contenedor-scroll-datosStudio{
	height: 25em;
}
#detalleClase{
	height: 4em !important;
}
.calificaciones{
	font-size: 1.1em !important;
    line-height: 2.3;
}
.scrollInstruc{
	height: 47vh !important;
}
.nombreStudio{
	font-size: 1.5em;
	margin-left: .5em;
	/*text-align: left;*/
}
.categoriaPreferencias{
	font-size: .9em;
}
#encabezado{
  height:350px;
}
.gradientImagen {
    height: 350px;
}
.has-foto-header{
   margin-top: 24em;
}
.scrollClass {
    height: calc(100vh - 514px);
    /* overflow-y: hidden; */
}
.scrollClassEstudio {
    height: calc(105vh - 514px);
    /* overflow-y: hidden; */
.elementoHeader > .circulo-toggle{
    width: 3em;
    height: 3em;
}
.buscador{
	width: 24em;
}
.nombreCliente{
	font-size: .7em;
}
.circulo-perfil{
    width: 8em;
    height: 8em;
}
.cerrarModal{
	font-size: 4em;
}
.gear{
    font-size: 3em;
}
.headerActions > .elementoHeader{
        height: 5.3em;
}
.nombreCliente-clase{
    font-size: 1em;
}
.circulo-clase{
    width: 4em;
    height: 4em;
}
.cali-detalleClase{
	font-size: 1.3em !important;
}
.perfil{
	    margin-bottom: -2em !important;
}
.triangulo
{
    border-width: 0 21px 21px 21px !important; 
}
.contenedorDias{
    margin-top: 4.3em !important;
}
