/*mobile360px.css*/
/*.headerActions > .elementoHeader{
	margin-right: 1.5em !important;
}*/
.contenedorDias{
    /*position: relative-;*/
    /*top: 3em;*/
    /*left: 2em;*/
    background:#5d5d5d;
    margin-top: 37% !important;
}
.boton-comun
{
	margin-left: 3.5em !important;
}
#encabezado{
  height:250px;
}
.gradientImagen {
    height: 250px;
}
.has-foto-header{
   margin-top: 17em;
}
.scrollClass {
    height: calc(100vh - 420px);
    /* overflow-y: hidden; */
}
.scrollClassEstudio {
    height: calc(105vh - 420px);
    /* overflow-y: hidden; */
}
.scrollInstruc{
	height: 53vh !important;
}