/*mobile320px.css*/
.headerActions > .elementoHeader{
	/*margin-right: .5em !important;*/
}
.boton-comun
{
	margin-left: 2em !important;
}
.contenedorDatos > .nombreCompleto {
    font-size: 1.8em !important;
}

.tituloClass{
	font-size: 2.4em;
}
.puntuacionStudio{
	font-size: .8em !important;
}
#encabezado{
  height:250px;
}
.gradientImagen {
    height: 250px;
}
.has-foto-header{
   margin-top: 17em;
}
.scrollClass {
    height: calc(100vh - 420px);
    /* overflow-y: hidden; */
}
.scrollClassEstudio {
    height: calc(105vh - 420px);
    /* overflow-y: hidden; */
}
.scrollInstruc{
	height: 48vh !important;
}
.triangulo{
  border-width: 0 19px 19px 19px !important;
}
.contenedorDias
{
  margin-top: 5.5em;
}
.bar-stable.bar.bar-header{
      height: 7.6em !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px !important;
    height: 7.6em !important;
}