/*mobile375px.css*/
.headerActions > .elementoHeader{
	margin-right: 2em !important;
        height: 5.3em;
}
.contenedorDias
{
	font-size: 1.15em;
    margin-top: 5.5em;
}
.boton-comun
{
	margin-left: 4em !important;
}
.contenedorDiasEstudio {
    position: relative;
    font-size: 1.6em;
    line-height: .3;
}
.contenedorCirculo {
    margin-right: 1em;
}
.palabra{
    font-size: 3.9em;
    line-height: .7; 
}
#clases{
    letter-spacing: 0.37em;
}
.nombreStudio{
    font-size: 1.2em;
}
.elementoHeader > .circulo-toggle{
    width: 3em;
    height: 3em;
    margin-left: .29em;    
}
.buscador{
    width: 16em;
}
.nombreCliente{
    font-size: .7em;
}
.circulo-perfil{
    width: 7em;
    height: 7em;
}
.cerrarModal{
    font-size: 4em;
}
.gear{
    font-size: 3em;
}
.nombreCliente-clase{
    font-size: 1em;
}
.circulo-clase{
    width: 4em;
    height: 4em;
}
.cali-detalleClase{
    font-size: 1.2em !important;
    line-height: 2;
    font-size: 2em;
}
#encabezado{
  height:300px;
}
.gradientImagen {
    height: 300px;
}
.has-foto-header{
   margin-top: 21em;
}
.scrollClass {
    height: calc(100vh - 475px);
    /* overflow-y: hidden; */
}
.scrollClassEstudio {
    height: calc(105vh - 475px);
    /* overflow-y: hidden; */
}
.scrollInstruc{
	height: 47vh !important;
}

.triangulo{
    border-width: 0 21px 21px 21px; 
}