<ion-view style="" class="fondoPastel" id="page1" title="Recuperar">
     <ion-content class=" fondo">

        <div class="padding"></div>
        <div class="padding"></div>
        <div class="padding"></div>
        <div class="padding"></div>

        <div class="row">
            <div class="col">
              <div class="images-parent">
                  <img src="" alt="" class="left-image">
                  <img class="center-image" ng-src="img/logo.png"  >
                  <img src="" alt="" class="right-image">
              </div>                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="msj centrar fuente">
                    RESTABLECER CONTRASEÑA
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col sin-bordes">
            <li class="item ">
                <!--<div class="card opcion" ng-show='datoMensaje.exito' >-->
                <div class="card mensaje-respuesta" ng-show='datoMensaje.exito' >

                    <div class="item item-divider exitosa">
                        Recuperación exitosa.
                    </div>
                    <div class="item item-text-wrap">
                        {{datoMensaje.mensaje}}
                    </div>
                </div>
                <div class="card mensaje-respuesta" ng-show='datoMensaje.notfound'>
                    <div class="item item-divider notfound">
                        Correo no encontrado.
                    </div>
                    <div class="item item-text-wrap">
                        No hay ninguna cuenta registrada con este correo.
                    </div>
                </div>
                <div class="card mensaje-respuesta" ng-show='datoMensaje.fallido'>
                    <div class="item item-divider fallida">
                        Recuperación fallida.
                    </div>
                    <div class="item item-text-wrap">
                        {{datoMensaje.mensaje}}
                    </div>
                </div>                 
            </li>                
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col col-offset-33 center sin-bordes">
                <ion-md-input placeholder="Correo" class="boton-comun" ng-model="usuario.username" highlight-color="ninguno" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-offset-33 center">
                <button style="  width: 16em; margin-top:1em !important"
                        class="boton-ingresar fuente button button-energized button-block"
                        ng-click="$ctrl.recuperar(usuario)">
                   RESTABLECER
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col boton-flotante">
                    <button class="fuente button button-light  button-block button-clear" 
                            id="login-button6" 
                            ui-sref="app.access.register">
                       O Registrate acá
                    </button>
            </div>
        </div>
    </ion-content>
</ion-view>
