<ion-view view-title="INTRO" align-title="left" class="fondo">
    <ion-content>
    <!-- LOGO -->
    <div class="padding"></div>
    <div class="row">
      <div class="col">
          <div class="images-parent">
              <img src="" alt="" class="left-image">
              <img class="center-image" ng-src="img/logo.png">
              <img src="" alt="" class="right-image">
          </div>
      </div> 
    </div>
    <div class="row">
        <div class="col">
          <div class="centrar msj">INGRESA A TU CUENTA DE PASE.FIT</div>
        </div>
    </div>

    <!-- REGISTRAR O INGRESAR -->
    <div class="selectRegisterLogin" ng-show="$ctrl.selectRL">
        <div class="row">
          <div class="col col-offset-33 center col-bottom">
              <button ng-click="$ctrl.selectRL=false;$ctrl.selectFN=true"
                      class=" fuente2 button button-block button-light " ng-click="">
                 INGRESA
              </button>
              <button ui-sref="registrar" class="fuente2 button button-block button-stable" 
                      ng-click="">
                 REGISTRATE
              </button>
          </div>
        </div>
    </div>

    <!-- INGRESAR CON FACEBOOK O INGRESAR NORMAL -->
    <div class="selectFacebookNormal" ng-show="$ctrl.selectFN">
        <div class="row ">
              <div class="col">
                  <button ng-click="$ctrl.lgNormal=true;$ctrl.selectFN=false;"
                          class=" fuente2 button button-block button-light ">
                     CON EMAIL
                  </button>
              </div>
        </div>
        <div class="row">
            <div class="col">
                  <button class="fuente2 button button-block button-stable facebook"
                          ng-click="$ctrl.iniciarFacebook()">
                     FACEBOOK
                  </button>
            </div>
        </div>
    </div>
    
    <!-- FORMULARIO INGRESAR -->
    <div class="formLogin" ng-show="$ctrl.lgNormal">
             <form id="login-form1">
                <div class="row">
                    <div class="col col-offset-33 center sin-bordes ">
                       <ion-md-input placeholder="EMAIL" class="boton-comun"
                                     ng-model="usuario._username"
                                     highlight-color="ninguno" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class=" col col-offset-33 center sin-bordes ">            
                          <ion-md-input placeholder="CONTRASEÑA" class="boton-comun"
                                        ng-model="usuario._password" 
                                        highlight-color="ninguno" type="password">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-offset-33 center sin-bordes">     
                          <div class="padding-top"></div>
                          <button style="width: 16em;margin-right: auto;margin-left: auto;display: block;"
                                  class="boton-ingresar fuente button button-balanced button-block" 
                                  id="" ng-click="$ctrl.iniSession(usuario);usuario=''" >
                             Ingresar
                          </button>
                    </div>
                </div>
             </form>
            <div class="row">
                  <div class="col col-offset-33 center">            
                    <div class="">
                      <button  class="fuente button button-light button-block button-clear"
                               ui-sref="recuPass" >
                         ¿Olvidó su contraseña? Ingresa aquí
                      </button> 
                    </div>
                  </div>
            </div>
            <div class="padding"></div>
    </div>
    </ion-content>
</ion-view>