<ion-view view-title="INTRO" align-title="left" class=" fondo">
    <ion-content class="fondo">
        <div class="selecType" ng-show="!($ctrl.selected)">
                
                <div class="padding"></div>
                    <div class="row">
                      <div class="col">
                          <div class="images-parent">
                              <img src="" alt="" class="left-image">
                              <img class="center-image" ng-src="img/logo.png"  >
                              <img src="" alt="" class="right-image">
                          </div>
                      </div> 
                    </div>

                  <div class="row">
                      <div class="col-offset-33 center">
                          <button class=" fuente2 button button-block button-light " ng-click="$ctrl.selectType('client')">CLIENTE</button>
                          <!-- <button  class=" fuente2 button button-block button-light" ng-click="$ctrl.selectType('client')">STUDIO</button> -->
                      </div>
                  </div>

                  <div class="row">
                     <div class="col">
                        <button class="fuente  button button-light  button-block button-clear " id="login-button6" ui-sref="login">Regresar al Login</button>
                     </div>
                  </div>
        </div>
        <div class="formRegister" ng-show="$ctrl.selected">
                <div class="padding"></div>
                <div class="row">
                    <div class="col-offset-33 center">
                            <div class="centrar msj fuente">REGISTRATE CON</div>

                            <button class="button button-block button-stable facebook" ng-click="$ctrl.registrarFacebook()" style="width:19.5em">FACEBOOK</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col  msj">
                        <hr style="margin-left:3em !important;">
                    </div>
                    <div class="col centrar msj">
                    Ó
                    </div>
                    <div class="col  msj" >
                        <hr style="margin-right:3em !important">
                    </div>
                </div>
                <!--<form id="login-form1" style="padding::;em !important;">-->
                <form id="login-form1">

                <div class="row">
                    <div class="col sin-bordes2">
                        <ion-md-input placeholder="EMAIL" ng-model="datosFormulario.fos_user_registration_form.email" highlight-color="ninguno" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col sin-bordes2">
                            <ion-md-input placeholder="CONTRASEÑA" ng-model="datosFormulario.fos_user_registration_form.plainPassword.first"highlight-color="ninguno" type="password">
                    </div>
                </div>

                <div class="row">
                    <div class="col sin-bordes2">
                            <ion-md-input placeholder="REPITA LA CONTRASEÑA" ng-model="datosFormulario.fos_user_registration_form.plainPassword.second"highlight-color="ninguno" type="password">
                        
                    </div>
                </div>

                 <div class="row">
                    <div class="col col-50 sin-bordes2" style="">
                        <ion-md-input style="margin-right:-.5em;" placeholder="NOMBRE" ng-model="datosFormulario.firstname" highlight-color="ninguno" type="text">
                    </div>
                    <div class="col col-50 sin-bordes2">
                        <ion-md-input style="margin-left:-.2em;" placeholder="APELLIDO" ng-model="datosFormulario.lastname" highlight-color="ninguno" type="text">
                    </div>                        
                </div>

                <div class="row">
                    <div class="col sin-bordes2">
                            <ion-md-input placeholder="TELEFONO" ng-model="datosFormulario.telephone" highlight-color="ninguno" type="text">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                            <button class="fuente button button-balanced  button-block" id="button-submit" ng-click="$ctrl.registrar(datosFormulario)" >CREA TU CUENTA</button>
                    </div>
                </div>
                </form>

                <div class="row">
                    <div class="col boton-flotante">
                        <button class="fuente centrar button button-light  button-block button-clear " ui-sref="recuPass">¿Olvidó su contraseña? Ingresa aquí
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>

