<ion-view style="" class=" " id="page1" title="CambiarPass">
    <ion-content class="" padding="true" style='background:url("img/Fondo-App-C24.jpg");background-size:cover;'>
        <img style='width: 100%;height: auto;' ng-src="img/logo.png" alt="">

        <div class="card" ng-show='form.confirm_password.$error.passwordVerify'>
          <div class="item item-divider notfound">
                Deben coincidir las pass
          </div>
            <div class="item item-text-wrap">
                
            </div>
        </div>

        <form class="list list-inset" id="login-form1" name="form">
            <ion-list class=" " id="recuperarPass">
            <label name="nueva_pass" id="" class="item item-input item-stacked-label ">
                <span class="input-label">Nueva contraseña</span>
                <input placeholder="" type="password" ng-model="registration.user.password" name='password'>
            </label>

            <label name="nueva_pass_2" id="" class="item item-input item-stacked-label" name='confirm_password'>
                <span class="input-label">Repetir nueva contraseña</span>
            <input type="password" name="confirmPassword"  ng-model="registration.user.confirmPassword" compare-to="registration.user.password" required="" />
            </label>

            <div style="width: 283px; height: 11px;" class="spacer"></div>
            
            <button class=" button button-energized  button-block" id="login-button1">Asignar</button>
            </ion-list>
<!--           <div ng-show="form.confirm_password.$error.required">
            Field required!
          </div>
          <div ng-show="form.confirm_password.$error.passwordVerify">
            Fields are not equal!
           </div> -->
        </form>
    </ion-content>
</ion-view>

