<ion-view hide-nav-bar="false" >
      <!-- NUEVO HEADER BAR  -->
      <div class="nuevo-header-bar">
          <div class="row">
                <div class="col col-25">
                    <div menu-toggle="left" class="button-icon icon ion-navicon boton-navicon" ng-click="$ctrl.buscadorAct()"></div>
                </div>
                <div class="col col-50">
                      <input placeholder="&#xF002; BUSCAR ESTUDIO" ng-change="$ctrl.buscarStudio(studioBuscar)" type="text" class="centrar buscador" ng-model="studioBuscar">
                      <div class="contenedorListaStudio" style="opacity: 0.9;">
                        <ion-scroll style="height: 10em" ng-show="studioBuscar">
                            <ul class="listaStudios">
                                <li class="elementoListaStudio" ng-repeat="studio in $ctrl.busquedaStudio" ng-click="$ctrl.irPerfilStudio(studio.id)">
                                  <div class="nombreDelStudio">
                                    {{studio.studioName}}
                                  </div>
                                  <div class="DireccionStudio">
                                    {{studio.studioStateName}} , {{studio.studioCityName}}
                                  </div>
                                </li>
                            </ul>
                        </ion-scroll>
                      </div>
                </div>
                <div class="col col-25">
                      <img class="circulo-toggle" ng-src="{{imageUrl}}" ng-click="$ctrl.mostrarModal()">                  
                </div>
          </div>
          <div class="row">
            <div class="col">
                <div class="palabra" ng-show="$ctrl.onDashboard">
                  DashBoard
                </div>
                <div class="palabra" ng-hide="$ctrl.onDashboard" id="clases">
                  Clases
                </div>
            </div>
          </div>           
          <div class="row">
              <div class="col">
                  <my-week style="top: 1em !important;position: relative;" date="fechaDeBusqueda"></my-week>
              </div>
          </div>
      </div>
    <!-- </ion-nav-buttons> -->
  <ion-content class="contenidoBuscador has-header-5em"  padding="true" drag-content="false" has-bouncing="false">
        
        <div ng-show="!$ctrl.onMap">
          <ul class="lista" ng-show="ListaGeneral">
            <li class="elemento" ng-repeat="clase in listaClases" >
              <div ng-if="!($ctrl.onDashboard)">
                  <ul>
                      <li style="float:left;width:50%;height:100%;height: 10em !important;" style="position:relative;"  >
                            <div class="contenedorHora">
                                    <div class="horaInicial" style="">
                                        {{$ctrl.acomodarHora(clase.schedule.classStartTime)}}
                                    </div>
                                    <div class="duracion" style="">
                                        {{clase.schedule.durationMinutes}} min
                                    </div>
                                    <div class="compartir" style="">
                                        <ul style="position:relative">
                                          <li style="float:left;margin-left:1.2em;"  >
                                              <i class="fa fa-plus" aria-hidden="true" ng-hide="clase.reserved" ng-click="$ctrl.abrirModal(clase)"></i>
                                              <i class="fa fa-close" aria-hidden="true" ng-show="clase.reserved" ng-click="$ctrl.abrirCancelar(clase)"></i> 
                                          </li>
                                          <li style="float:left;margin-left:1.2em;" ng-click="$ctrl.Favorito(clase)">
                                              <i class="fa fa-heart " ng-class="{'fa-spin':clase.tareaFavorito}" aria-hidden="true" ng-show="clase.schedule.favorite"></i>
                                              <i class="fa fa-heart-o" ng-class="{'fa-spin':clase.tareaFavorito}" aria-hidden="true" ng-hide="clase.schedule.favorite"></i>
                                          </li>
                                          <li style="float:left;margin-left:1.2em;" ng-hide="true">
                                              <i class="fa fa-share-alt" aria-hidden="true"></i>
                                          </li>
                                        </ul>                                      
                                    </div>
                            </div>
                      </li>
                      <li style="float:left;width:50%;height:100%" ui-sref="detalleClase.info({idClase:{{clase.id}} })">
                            <div class="contenedorDetalle">
                                    <div class="noPasada" ng-show="clase.reserved">
                                      <img src="img/reserva.png" alt="" class="reservada">
                                    </div>
                                    <div class="actividad">
                                          {{clase.schedule.className | validador:20}}
                                    </div>
                                    <div class="estudio">
                                          {{clase.schedule.studioClass.studio.studioName}}
                                    </div>
                                    <hr class="barra" >
                                    <div class="lugar">
                                          {{clase.schedule.studioClass.studio.studioCityName}}
                                    </div>
                                    <div style="">
                                        <my-stars config="{size:'fa-2x'}" value="clase.schedule.currentCalification"></my-stars>
                                    </div>
                            </div>
                      </li>
                  </ul>
              </div>
              <!-- CLASES RESERVADAS -->
              <div ng-if="$ctrl.onDashboard">
                <div class="contenedorClaseDia">

                <div class="cancelarReserva" ng-show="clase.noPasadas">
                  <i class="fa fa-times" aria-hidden="true" ng-click="$ctrl.abrirCancelar(clase)"></i>
                </div>

                  <div class="noPasada" ng-show="clase.noPasadas">
                    <img src="img/reserva.png" alt="" class="reservada">
                  </div>
                        <div class="actividadReservada">
                          {{clase.schedule.className | validador:20}}
                        </div>
                  <div class="contenidoClase" ui-sref="detalleClase.info({idClase:{{clase.id}}})">

                        <div class="fechaExacta">
                          {{$ctrl.acomodarFecha(clase.date)}}
                        </div>
                        <div class="horarioClase">
                          <div class="fechaExacta" style="display: inline;">Horario:</div> {{$ctrl.acomodarHora(clase.schedule.classStartTime)}} a {{$ctrl.acomodarHora(clase.schedule.classFinishTime)}} / {{clase.schedule.durationMinutes}} min
                        </div>                  
                        <div class="instructor" ng-show="clase.schedule.instructors[0]">
                          <div class="fechaExacta" style="display: inline;">Instructor:</div> {{clase.schedule.instructors[0].fullName}}
                        </div>
                        <div class="direccion">
                          <div class="fechaExacta" style="display: inline;"> {{clase.schedule.studioName}} </div>
                          - {{clase.schedule.studioClass.studio.studioCityName}} -
                          <div class="fechaExacta" style="display: inline;">{{clase.schedule.studioClass.studio.studioStateName}}</div>
                        </div>
                  </div>

                </div>
              </div>

            </li>

            <li  class="elemento3" ng-show="$ctrl.mostrarSuge">
              sugerencias:
            </li>

            <li class="elemento" ng-repeat="sugerencia in $ctrl.clasesSugerencia | limitTo:4 "  ng-hide="sugerencia.reserved || !$ctrl.mostrarSuge" ng-style=" (sugerencia.schedule.image==null && {'background-image':'url(http://api.pase.fit/uploads/images/classcategory/'+sugerencia.schedule.studioClass.classCategory.image+')', 'background-size':'cover'}) || ({'background-image':'url({{sugerencia.schedule.image}})','background-size':'cover'}) ">
            <div class="opacity"></div>
                  <ul style="position:relative;color:whitesmoke !important;z-index: 7 !important;">
                      <li style="float:left;width:50%;height:100%;height: 10em !important;background: {{sugerencia.image}}" >
                            <div class="contenedorHora">
                                    <div class="horaInicial" style="">
                                       {{$ctrl.acomodarHora(sugerencia.schedule.classStartTime)}} 
                                    </div>
                                    <div class="duracion" style="">
                                        {{sugerencia.schedule.durationMinutes}} min
                                    </div>
                                    <div class="compartir" style="">
                                        <ul style="position:relative;color:white !important;">
                                          <li style="float:left;margin-left:1.2em;">
                                              <i class="fa fa-plus" aria-hidden="true" ng-hide="sugerencia.reserved" ng-click="$ctrl.abrirModal(sugerencia)"></i>
                                          </li>
                                          <li style="float:left;margin-left:1.2em" ng-click="$ctrl.Favorito(sugerencia)">
                                              <i class="fa fa-heart " ng-class="{'fa-spin':sugerencia.tareaFavorito}" aria-hidden="true" ng-show="sugerencia.schedule.favorite"></i>
                                              <i class="fa fa-heart-o" ng-class="{'fa-spin':sugerencia.tareaFavorito}" aria-hidden="true" ng-hide="sugerencia.schedule.favorite"></i>
                                          </li>
                                          <li style="float:left;margin-left:1.2em;">
                                              <i class="fa fa-share-alt" aria-hidden="true" ng-hide="true"></i>
                                          </li>
                                        </ul>                                      
                                    </div>
                            </div>
                      </li>
                      <li style="float:left;width:50%;height:100%" ui-sref="detalleClase.info({idClase:{{sugerencia.id}} })">
                            <div class="noPasada" ng-show="sugerencia.reserved">
                              <img src="img/reserva.png" alt="" class="reservada">
                            </div>
                            <div class="contenedorDetalle">
                                    <div class="actividad">
                                          {{sugerencia.schedule.className | validador:20}}
                                    </div>
                                    <div class="estudio">
                                          {{sugerencia.schedule.studioClass.studio.studioName}}
                                    </div>
                                    <hr class="barra">
                                    <div class="lugar">
                                          {{sugerencia.schedule.studioClass.studio.studioCityName}}
                                    </div>

                                    <div style="color:white;">
                                        <my-stars config="{size:'fa-2x'}" value="sugerencia.schedule.currentCalification"></my-stars>
                                    </div>

                            </div>
                      </li>
                  </ul>
            </li>
          </ul>

          <ul class="lista" ng-hide="ListaGeneral">
            <li class="elemento" style="text-align: center;" ng-repeat="studio in bsqStudio" ui-sref="studioPerfil.detalle({idStudio:{{studio.id}}})">
                    <div class="contenedorDetalle">
                            <div class="actividad">
                                  {{studio.studioName}}
                            </div>
                            <div class="estudio">
                                  {{studio.studioCityName}}
                            </div>

                            <hr class="barra" style="width: 70%;">

                            <div class="lugar">
                                - {{studio.categorias}}
                            </div>

                            <div style="">
                                <my-stars config="{size:'fa-2x'}" value="studio.schedule.currentCalification"></my-stars>
                            </div>
                    </div>
              </li>
          </ul>
        </div>

            <ion-infinite-scroll on-infinite="$ctrl.masClases()" ng-if="ultimaCantidad==10 && $ctrl.onMap==false && $ctrl.onDashboard==false">
            </ion-infinite-scroll>

          <!-- CONTENEDOR DE MAPA -->
          <div id="mapaContainer" ng-hide="lista">
                <ion-scroll direction="xy" style="width: 100%;height: 80vh;">
                        <div id="map" data-tap-disabled="true"></div>
                </ion-scroll>
          </div>

          <!-- MENSAJE NINGUN RESULTADO -->
          <div class="sinResultado" ng-show="sinResultado && !$ctrl.onMap">
                <div class="mensaje">Ningún Resultado</div>         
          </div>
          
  </ion-content>
          <div class="botonesLocation" ng-hide="$ctrl.onDashboard">
              <div class="locationBoton" id="frontal" ng-click="lista=false;$ctrl.crearMapa();" ng-hide="!(lista)"> 
                  <i class="fa fa-map-marker" aria-hidden="true" ></i>
              </div>
              <div class="locationBoton" ng-click="lista=true;$ctrl.onMap=false;" style="position:relative" ng-hide="lista">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
          </div>
</ion-view>

